<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加载中......</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' 'self' ty-cdn.greatbee.com cdn.bootcss.com *.baidu.com ">
    <link rel="stylesheet" href="./run_dist/main.36d782e812e1a3ea74ff.css">
</head>

<body>
    <div id="app">
        <router-view name="header"></router-view>
        <router-view></router-view>
    </div>
    <script type="text/javascript" src="./run_dist/main.36d782e812e1a3ea74ff.js"></script>
</body>

</html>


<script type="text/javascript">

</script>
