<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>加载中......</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline' 'unsafe-eval' 'self' ty-cdn.greatbee.com cdnjs.cloudflare.com cdn.bootcss.com *.baidu.com ">
</head>

<body>
    <div id="app">
        <router-view name="header"></router-view>
        <router-view></router-view>
    </div>
</body>

</html>


<script type="text/javascript">
    var Domain_Home = {
        //赛吖相关
        "ty.saiyachina.com":"/home_ln",
        "xlx.saiyachina.com":"/xlx_c_home_page",
        //Mokelay相关
        "demo.greatbee.com":"/home_ln",
        "www.mokelay.com":"/home_ln",
        //领鸟
         "fast.dtbird.cn":"/home_dtbird",

        //赤峰测试域名
        "b-chifeng.saiyachina.com":"/ty_b_app_dashboard",
        //赤峰正式，平台(center),运营(o)针对E端,工厂(f)，门店(s)，针对B端
        "center.red-deal.com":"/home_ln",
        "o.red-deal.com":"/retail_yy_dashboard ",
        "f.red-deal.com":"/ty_b_app_dashboard",
        "s.red-deal.com":"/ty_b_app_dashboard",
        "om.red-deal.com":"/retail_yyh5_home"
    };

    var Domain_SSO = {
        // Mokelay 相关
        "www.mokelay.com":"/ty-login",
        

        //赤峰测试域名
        "b-chifeng.saiyachina.com":"/ty_b_login",

        //赤峰正式，平台(center),运营(o)针对E端,工厂(f)，门店(s)，针对B端
        "o.red-deal.com":"/ty-login",
        "f.red-deal.com":"/retail_b_login",
        "s.red-deal.com":"/retail_b_login",
        "om.red-deal.com":"/retail_yyh5_login"

    };

    var home = Domain_Home[document.location.hostname];
    if(home){
        window._TY_Home = home;
    }

    var sso = Domain_SSO[document.location.hostname];
    if(sso){
        var CurrentDomain = window.location.protocol + "//" + window.location.host;
        window._TY_SSOURL = CurrentDomain + "/#"+sso;
    }

    var TY_Client_Domain = "http://ty-cdn.greatbee.com/ty-client-core/";
    window.loadTY = function(hash){
        console.log("load hash=" + hash);
        function addLink(url) {
            var link = document.createElement("link");
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = url;
            var head = document.getElementsByTagName("head")[0];
            head.appendChild(link);
        }
        function addScript(url) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = url;
            document.body.appendChild(script);
        }
        if(hash && hash.length>0){
            addLink(TY_Client_Domain + "main." + hash + ".css");
            addScript(TY_Client_Domain + "main." + hash + ".js");
        }else{
            addLink(TY_Client_Domain + "main.css");
            addScript(TY_Client_Domain + "main.js");
        }
    }
//    window.loadTY("e74f2a2eb280f1a7260d");
    var currentDomain = window.location.protocol+"//"+window.location.host;
    var iframe = document.createElement("iframe");
    iframe.src = TY_Client_Domain + "hash.html?time=" + new Date().getTime() + "&domain="+ currentDomain;
    iframe.id = "ty";
    iframe.width = 0;
    iframe.height = 0;
    iframe.style.display = 'none';
    document.body.appendChild(iframe);
</script>

<script>
    window.onload=function () {
        document.addEventListener('touchstart',function (event) {
            if(event.touches.length>1){
                event.preventDefault();
            }
        })
        var lastTouchEnd=0;
        document.addEventListener('touchend',function (event) {
            var now=(new Date()).getTime();
            if(now-lastTouchEnd<=300){
                event.preventDefault();
            }
            lastTouchEnd=now;
        },false)
    }
</script>
