<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>问卷调查</title>
        <link href=//greatbee-ty.oss-cn-hangzhou.aliyuncs.com/ty-survey/static/css/app-c6885fca.css rel=stylesheet>
    </head>
    <body>
        <div id=app></div>
        <script type=text/javascript src=//greatbee-ty.oss-cn-hangzhou.aliyuncs.com/ty-survey/static/js/manifest-8eaedb4f.js></script>
        <script type=text/javascript src=//greatbee-ty.oss-cn-hangzhou.aliyuncs.com/ty-survey/static/js/vendor-ba67da3a.js></script>
        <script type=text/javascript src=//greatbee-ty.oss-cn-hangzhou.aliyuncs.com/ty-survey/static/js/app-4e6ba0f5.js></script>
    </body>
</html>